.tablabelPlace{
    width: 60%;
    height: 35px;
    padding-top: 8px;
}

.iconwork{
    font-size:24px;
    color:green;
    float: right;
}
.iconDanger{
    font-size:24px;
    color:darkred;
    float: right;
}